.user{
    font-weight: 500;
}
.register{
    font-weight: 300;
}

.verify{
    background: hotpink;
    color: white;
    font-size: 15px;
    box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
    margin-top: 20px;
}

.otpNotification{
    color:red;
    font-size: 12px;
    margin-top: 3px;
}